body {
    background-color: #2C3333;
}


.favorito {
    width: 30px;
    height: 30px;
    background-color: #f5e507;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    font-size: 13px;
}

.favorite {
    width: 30px;
    height: 30px;
    background-color: #f5e507;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 450px;
    top: 100px;
    border: none;
    font-size: 13px;
}